#home-banner {
	width:938px;
	height:532px;
	background:url(../images/home-banner.jpg) no-repeat top left;
	position:relative;
}
#home-banner .tagline {
	color:#2222A8;
	text-shadow: 2px 2px 0 #fff;
	position:absolute;
	right:0;bottom:20px;
	font-size:30px;
	width:12em;
}

#home-banner .product h2 {float:left;}
#home-banner .product {
	position:relative;
	height:130px;overflow:hidden;
}
#home-banner .product:after {
	content:".";
	display:block;
	height:0;
	visibility:hidden;
	clear:both;
}
#home-banner .product a.overview-link {
	font-size:21px;
	color:#333;
	text-shadow: 0px 0px 7px #fff;
	height:0px;
	height:120px;
	padding-top:10px;
	display:block;
	width:160px;
	padding-right:10px;
	margin-left:30px;
	float:left;
	text-align:right;
}

#home-banner .about-product {float:left;margin-left:12px;width:300px;height:;}
.about-product p {}
#home-banner #physician_relations {top:35px;}
#home-banner #physician_recruiting {top:60px;}
#home-banner #custom_crm {top:100px;}

#home-banner .btn-yellow, #home-banner .btn-gray {float:left;margin-right:12px;}
#home-banner .txt-link {float:left;margin-left:12px;height:37px;line-height:37px;display:block;}

#home-testimonials {

}
#home-testimonials #slideshow,
#home-testimonials #slideshow li {
	height:16.2em;
}

#success-stories img {
	max-width:170px;
	margin-right:10px;
}

.info {text-align:center;margin:1em 0px;}

.qtip .qtip-content{
   padding: 10px;
   overflow: hidden;
}
   
   .qtip .qtip-content .qtip-title,
   .qtip-cream .qtip-content .qtip-title{
      background-color: #F0DE7D;
   }
   
   .qtip-light .qtip-content .qtip-title{
      background-color: #f1f1f1;
   }

   .qtip-dark .qtip-content .qtip-title{
      background-color: #404040;
   }

   .qtip-red .qtip-content .qtip-title{
      background-color: #F28279;
   }
   
   .qtip-green .qtip-content .qtip-title{
      background-color: #B9DB8C;
   }