#unsupported-browsers {
	display:block;
	border-bottom:2px solid #B32D0E;
	clear:both;
	padding:10px;
	width:920px;
	margin:1.25em 0;
}

#unsupported-browsers h4 {
	color:#B32D0E;
}

#unsupported-browsers ul {
	list-style-type:none;
}
#unsupported-browsers ul li {
	margin:0;padding:0;
	float:left;
	margin-right:2.5em;
}

.content-box {
	background: #eee url(../images/content-bg-main-top.png) no-repeat left top;
}
.content-box-inset {
	background: #eee url(../images/content-bg-main-bottom.png) no-repeat left bottom;
}

.small-content-box {
	background: url(../images/content-bg-small-top.png) no-repeat left top;
}
.small-content-box-inset {
	background: url(../images/content-bg-small-bottom.png) no-repeat left bottom;	
}