.page-header {height:2em;line-height:2em;}
.page-header:after {content:".";height:0px;visibility:hidden;clear:both;display:block;}
.page-header h2 {}
.page-header .nav {text-align:right;}
.page-header .nav a {color:#333;}

.product-call-to-action-buttons {
	margin-top:3em;
}
.product-call-to-action-buttons a {
	clear:left;
	margin-bottom:.75em;
}
.more-testimonials {
	float:right;
	margin-top:-1.5em;
}
.product-content:after {content:".";clear:both;display:block;height:0;visibility:hidden;}


#user-form-box {
	width:250px;
}

#demo-couplet {
	width:380px;
	height:285px;
	position:relative;
	
}
#demo-couplet img {
	width:380px;
	height:285px;
}
#demo-couplet a.demo {
	width:380px;
	height:285px;
	display:block;
	position:absolute;top:0;left:0;
}
#demo-couplet a.demo span {
	position:absolute;top:-100em;left:-100em;
}

/* ================================= */
/* = Video For Everyone Popupiness = */
/* ================================= */

#video-backdrop {
	height:100%;
	width:100%;
	position:absolute;
	top:0;left:0;
	display:none;
	background-color:#000;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
.pop-uppity video {
	position:absolute;
	display:block;
	width:640px;
	height:380px;
	top:50%;
	left:50%;
	margin-top:-25%;
	margin-left:-25%;
	z-index:1;
	background:#fff;
}
video {
	display:none;
}
.pop-uppity #video-download {
	display:none;
}
.pop-uppity #holding-img {
	display:none;
}