<p>My interaction with MarketWare has been a rewarding experience. A few years ago, I was seeking a program to track physician referral development, store and house data and follow up, similar to ACT! for sales tracking. It was a very pleasant surprise to discover one of these programs that was specific to physician marketing, as it had been developed for a diagnostic company’s use for this same purpose.</p>

<p>Our initial training, [the MarketWare Consultant’s] commitment and time, including patience in dealing with a non
technical team of folks far exceeded my expectation. [The MarketWare Consultant’s] communications as well as follow up with our Information Technology Dept and the lead representative for the program has been great.</p>

<p>I feel strongly that this program has benefited the referral development team, by organizing, saving time, tracking their tasks, and follow up items, and it has provided a place to store the multitude of information we used to carry around on business cards in a folder, and rely on memory at times.</p>

<div class="right-align">
<cite>Patricia Seibold<br />
	Director, Provider Relations<br />
	Brooks Rehabilitation</cite>
</div>
