<h5>El Camino Hospital</h5>

<p>Recently, El Camino Hospital in Mountain View California acquired Los Gatos Hospital.  It was up to the Physician Relations team to reach out to the Los Gatos physicians to make the transition easy for them and to answer any questions they had about the acquisition. During this changeover, it was easy for physicians to look at other options in the area.</p>


<p>Using MarketWare’s Physician Relations <span class="caps">CRM</span> the Physician Relations team created a target list of all the physicians to visit. Systemically, they were able to successfully reach out to each Los Gatos physician. </p>


<p>The Physician Relations team was then asked to report on every physician issue they encountered.  Working with their dedicated MarketWare Consultant they created a customized report tailored to their specific needs.</p>


<p>El Camino administration reviews reports generated from MarketWare every month. Doing so, has provided them with the knowledge they need to know how to maintain their valuable physician relationships.</p>
