<h5>Hoag Hospital</h5>

<p>Customizing MarketWare</p>

<p>Hoag Hospital&rsquo;s Physician Relations team works with physicians to select and implement EMR systems.&nbsp; Using MarketWare, Hoag has been able to successfully identify and track which physicians are potential candidates for an EMR system, physicians who are scheduled for an EMR install, and physicians who previously had an EMR system installed and who need important follow up.  </p>

<p>Hoag Hospital has been able to take advantage of MarketWare&rsquo;s ability to be customized to their specific need.  Tracking relevant and detailed information through customizing MarketWare has increased Hoag&rsquo;s ability to be effective and efficient in managing their EMR systems and more importantly their Physician Relations.  </p>

<p>Data Feeds From Medical Staff Services</p>

<p>Hoag Hospital routinely imports updated information from Medical Staff Services into MarketWare.&nbsp; The data from Medical Staff Services often has incorrect information, such as a different or non-existent Group/Practice Names.&nbsp;</p>

<p>With MarketWare&rsquo;s powerful import wizard, MarketWare Consultants have been able to stop incorrect information from getting transferred into the database.  Conveniently, MarketWare provides nightly updates preformed automatically without any user intervention.</p>

<div class="right-align">
	<cite>Michael Padova, Implementation Manager, Hoag Hospital</cite>
</div>