<p>&quot;One thing I noticed when we sat down for the one-on-one training. . . was that [the MarketWare Consultant] had a satchel of best practices drawn from years of observing how [ MarketWare] was used, which come across not as extra work as most best practices do, but as illuminations or &#x27;aha!&#x27; moments.&quot;</p>
<div class="right-align">
<cite>Rick Beall 
Barbara Ann Karmanos Cancer Institute</cite>
</div>