<li>
    <p>Marketware is a great program… I have used other programs like this, but it is the best I have come across for dependability and easy reporting&hellip;  I have very much enjoyed working with you and have found you to be accessible, flexible, and very knowledgeable about your product.</p>
	<cite>Mary Dybdahl
	Physician Liaison, Strategic Planning
	El Camino Hospital</cite>
	
</li>
<li>
    <p>One thing I noticed when we sat down for the one-on-one training. . . was that [the MarketWare Consultant] had a satchel of best practices drawn from years of observing how [ MarketWare] was used, which come across not as extra work as most best practices do, but as illuminations or 'aha!' moments.</p>
	<cite>Rick Beall 
	Barbara Ann Karmanos Cancer Institute</cite>
</li>
<li>
    <p>MarketWare Support has been quick to respond to any support request.</p>
	<cite>Michael A. Delgado, Ph.D.
	Senior Manager - Business Development
	Southeast Missouri Hospital</cite>
	
</li>
<li>
	<p>The MarketWare team takes customer service to a whole new level. I’m impressed at how quickly my emails and phone calls  are returned. My questions never go unanswered, my issues never go unresolved.</p>
<cite>Kristen Sweet, Analyst
	Market Development
	PeaceHealth Oregon Region</cite>
</li>
<li>
	<p>I was a drug rep for five years before this job, and MarketWare is the BEST system I have ever used.</p>
	<cite>Lisa Bromfield  Physician Liaison  Abrazo Healthcare</cite>
</li>
<li>
	<p>The Issues and Problems tab in MarketWare is worth purchasing the database alone! It has streamlined our ability to handle feedback in a timely manner. I would recommend this database to any Physician Relations or medical Staff Office looking to improve functionality and efficiency.</p>
	<cite>Heather Coté, Director of Physician Relations/ Medical Tourism
	Adventist Health Systems, Chicago, IL</cite>
</li>