<h4>White Papers</h4>
<ul>
	<li><a href="/white_papers#achilles_heel">Physician Relations: The Achilles Heel of Hospital CEOs</a></li>
	<li><a href="/white_papers#investing">Are the Dollars I'm investing in Physician Relations really paying off?</a></li>
	<li><a href="/white_papers#10-principles">10 Principles that will guarantee your success in relationship managemen</a></li>
	<li><a href="/white_papers#the-right-questions">How to ask the right questions in an effective physician meeting</a></li>
	<li><a href="/white_papers#prm">What is PRM? (Physician Relationship Management)</a></li>
	<li><a href="/white_papers#roi4prm">What is the ROI for PRM?</a></li>
	<li><a href="/white_papers#other-crm">How other CRM software can cost you significantly more in the long run</a></li>
	<li><a href="/white_papers#good-crm">How a good PRM System can affect your whole organization</a></li>
</ul>