<h1 class="grid_7 alpha">MarketWare Client Support</h1>
<div class="grid_4 omega">
<p>Not finding what you're looking for?<br />
	<%= link_to "Contact Support", contact_path %>
	or
	Call us: 1-800-777-6368
</p>
</div>
<div class="grid_5 alpha">
	<h5>MarketWare Downloads</h5>

	<ul>
		<li><a href="http://marketware.com.s3.amazonaws.com/files.marketware_setup.exe">MarketWare version 9</a></li>
		<li><a href="?">MarketWare Version 9 Update</a></li>
		<li>MarketWare Version 10 <em>(Coming Soon)</em></li>
	</ul>
	
	<h6>Other Downloads</h6>
	<ul>
		<li><a href="http://www.microsoft.com/downloads/details.aspx?FamilyID=0856eacb-4362-4b0d-8edd-aab15c5e04f5&displaylang=en">Microsoft .NET Framework 2.0</a></li>
		<li><a href="http://www.microsoft.com/sqlserver/2005/en/us/express.aspx">SQL Server 2005 Express</a></li>
		<li><a href="http://www.microsoft.com/downloads/details.aspx?FamilyId=C243A5AE-4BD1-4E3D-94B8-5A0F62BF7796&displaylang=en">Microsoft SQL Server Management Studio Express</a></li>
		<li><a href="https://www1.gotomeeting.com/island/download.tmpl?Portal=www.gotomeeting.com">GoToMeeting.com Software</a></li>
	</ul>
</div>

<div class="grid_5 prefix_1 omega">
	<h6>Documentation</h6>
	<p><string>MarketWare Version 10</string></p>
	<ul>
		<li><a href="?">MarketWare Training Guide </a></li>
		<li><a href="?">Mail Merge Training Guide </a></li>
		<li><a href="?">Report Designer Training Guide </a></li>
		<li><a href="?">Full User Guide </a></li>
		<li><a href="?">Administrators Guide </a></li>
		<li><a href="?">Changes Log</a></li>
		<li><a href="?">Setup Instructions</a></li>
	</ul>
	
	<p><string>MarketWare Version 9</string></p>
	<ul>
		<li><a href="?">MarketWare Training Guide </a></li>
		<li><a href="?">Mail Merge Training Guide </a></li>
		<li><a href="?">Report Designer Training Guide </a></li>
		<li><a href="?">Full User Guide </a></li>
		<li><a href="?">Administrators Guide </a></li>
		<li><a href="?">Changes Log</a></li>
		<li><a href="?">Setup Instructions</a></li>
	</ul>
	
</div>