<h1 class="grid_7 alpha">MarketWare Client Support</h1>
<div class="grid_4 omega">
<p>Not finding what you're looking for?<br />
	<%= link_to "Contact Support", contact_path %>
	or
	Call us: 1-800-777-6368
</p>
</div>
<div class="grid_5 alpha">
	<h5>MarketWare Downloads</h5>

	<ul>
		<li><a href="http://marketware.com.s3.amazonaws.com/files/marketware_setup.exe">MarketWare Version 9</a></li>
		<li><a href="http://marketware.com.s3.amazonaws.com/files/mwupdate9.exe">MarketWare Version 9 Update</a></li>
		<li>MarketWare Version 10 <em>(Coming Soon)</em></li>
	</ul>
	
	<h6>Other Downloads</h6>
	<ul>
		<li><a href="http://www.microsoft.com/downloads/details.aspx?FamilyID=0856eacb-4362-4b0d-8edd-aab15c5e04f5&displaylang=en">Microsoft .NET Framework 2.0</a></li>
		<li><a href="http://www.microsoft.com/Sqlserver/2005/en/us/express-down.aspx#SP3">SQL Server 2005 Express</a></li>
		<li><a href="http://www.microsoft.com/Sqlserver/2005/en/us/express-down.aspx#SP3">Microsoft SQL Server Management Studio Express</a></li>
		<li><a href="https://www1.gotomeeting.com/island/download.tmpl?Portal=www.gotomeeting.com">GoToMeeting.com Software</a></li>
	</ul>
</div>

<div class="grid_5 prefix_1 omega">
	<h6>Documentation</h6>
	<p><string>MarketWare Version 10</string></p>
	<ul>
		<li><a href="http://marketware.com.s3.amazonaws.com/files/technical_review_faqs.pdf">Technical Review &amp; FAQs</a></li>
		<li><a href="http://marketware.com.s3.amazonaws.com/files/marketware_brochure.pdf">MarketWare Brochure</a></li>
		<li><a href="http://marketware.com.s3.amazonaws.com/files/marketware_statistics.pdf">Statistics: The GPS of your Facility</a></li>
	</ul>
</div>