<% @page_title="MarketWare’s Healthcare CRM, Physician Relationship Management, Physician Relations Consultants, Healthcare Experience, Physician Relations CRM, Custom CRM, Physician Recruiting, Customer Relationship Management" %>

<% content_for :meta_tags do %>
	<meta name="description" content="MarketWare’s Healthcare CRM is the leading CRM for physician referral growth. Learn more about MarketWare." />
	<meta name="keywords" content="MarketWare’s Healthcare CRM, Physician Relationship Management, Physician Relations Consultants, Healthcare Experience, Physician Relations CRM, Custom CRM, Physician Recruiting, Customer Relationship Management" />
<% end %>
<div>
	<br />
	<%= image_tag "union_park_center.jpg", :class => "img-left", :alt => "union park center" %>
	
	<ul class="mktwr-list boxed-list right" style="margin:0;width:300px;">
		<li>24 Years of Experience</li>
		<li>400+ Healthcare Implementations</li>
		<li>Certified Consultants</li>
		<li style="padding-bottom:1em">Healthcare CRM Experts</li>
	</ul>
</div>
<div style="clear:both">&nbsp;</div>

<h2>Mission Statement</h2>
<p>Our mission is to provide the referral development and retention solution for healthcare organizations. This is accomplished through combining custom software and consulting with the purpose of uniting unique processes with a CRM tool.  The goal of MarketWare is to create a &ldquo;<strong>must-have</strong>&rdquo; solution through technology expertise and extensive healthcare experience that provides a successful software implementation and return on investment.</p>

<h2>24 Years of Experience</h2>
<ul class="mktwr-list boxed-list right">
	<li>Must Have Solution</li>
	<li>Tailored to Specific Processes </li>
	<li>Consulting and CRM</li>
	<li>&ldquo;Best Practice&rdquo; Experience</li>
</ul>
<p>Over the past 24 years, MarketWare has worked with and countless companies to design and develop customized Customer Relationship Management software. These software products have been tailored to specific industries and niches.  The current version of MarketWare has continued this same mantra, and it has been customized specifically for healthcare – referral growth, recruiting, and retention.</p>

<p>From MarketWare’s 24 years of experience, we have learned that CRM tools which do not fit specific processes are often underutilized  and struggle to get fully adopted by the company’s users.  As a result, MarketWare’s mission  is to create a “must-have” Healthcare CRM  solution for each organization. This Healthcare CRM is designed to manage process unique to healthcare referral development.</p>

<h2>400+ Healthcare Implementations</h2>
<p>MarketWare has experience with more than  400+ healthcare organizations in implementing MarketWare’s Healthcare CRM products. Healthcare organizations who have adopted MarketWare represent  all shapes and sizes. These organizations range from large hospital systems with many hospitals to small specialty groups.  Each implementation is unique and tailored to the organization.</p>

<h2>Certified Consultants </h2>
<p>MarketWare only uses trained and certified consultants to implement a MarketWare system, whereas many software companies rely on outside Sales Reps, and Independent Value-Added Resellers.  The MarketWare staff spends 100% of their time supporting MarketWare  for Physician Relations, Referral Growth, Recruiting, and Retention. We are experts at what we do.</p>

<h2>Healthcare CRM Experts</h2>
<p>With 24 years of CRM experience, MarketWare has industry leading knowledge in implementing, customizing, and developing CRM solutions for organizations. Included with MarketWare’s experience is the ability to take “Best Practice” processes and build it right into the software.</p>