<h1>About Us</h1>
<p>For over 24 years MarketWare has worked with companies to design and develop customized CRM software. This software manages the important relationships necessary for any organization to succeed. From our experience we have found that success with relationship management software comes from tailoring the software to each unique industry and relationship process.</p>

<p>Our popular Healthcare CRM is an example of a database designed around a specific relationship process: physician referral growth, retention, and recruiting. And it’s making hundreds of healthcare organizations across the country more effective in their physician relationships. </p>

<p>MarketWare Systems works with all sizes of organizations. For example, MarketWare’s Healthcare CRM is helping small Imaging Centers and large Hospital Systems alike, manage their physician relationships. Start off small and/or build your whole organization around physician relationship management. At the same time, take advantage of a software that gives you more bang for your buck than any other software solution. </p>

<p>In addition, MarketWare can be tailored to any department within an organization. For example, MarketWare’s Healthcare CRM can be customized for credentialing, CME management, physician call center, billing, mergers and acquisitions, and much more. Any company and any industry can make MarketWare their own through complete CRM customization.</p>

