<div class="grid_8 alpha omega prefix_2 suffix_2">
<h2>Testimonials</h2>

<ul class="testimonials mktwr_list">
	<li>
	    <p>Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi.</p>
		<cite>Some Customer, This great company</cite>
	</li>
	<li>
	    <p>Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per.</p>
		<cite>Different Customer, Another Company</cite>
	</li>
	<li>
	    <p>Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero. Vestibulum mollis mauris enim. Morbi.</p>
		<cite>Customer III, Best Company of All</cite>
	</li>
</ul>
</div>