<div class="grid_8 alpha omega prefix_2 suffix_2">
<h2>WhitePapers</h2>

<ul class="mktwr_list">
	<li>
		<strong class="title"><a name="achilles_heel">Physician Relations: The Achilles Heel of Hospital CEOs</a></strong>
		<p class="description">Vivamus rutrum nunc non neque consectetur quis placerat neque lobortis. Nam vestibulum, arcu sodales feugiat consectetur, nisl orci bibendum elit, eu euismod magna sapien ut nibh. Donec semper quam scelerisque tortor dictum gravida. In hac habitasse.</p>
		<a href="http://marketware.com.s3.amazonaws.com/Whitepapers/achilles_heel.pdf" class="btn-yellow float-right"><span>Download</span></a>
	</li>
	<li>
		<strong class="title"><a name="investing">Are the Dollars I'm investing in Physician Relations really paying off?</a></strong>
		<p class="description">
			Morbi a enim in magna semper bibendum. Etiam scelerisque, nunc ac egestas consequat, odio nibh euismod nulla, eget auctor orci nibh vel nisi. Aliquam erat volutpat. Mauris vel.
		</p>
		<a href="http://marketware.com.s3.amazonaws.com/Whitepapers/investing.pdf" class="btn-yellow float-right"><span>Download</span></a>
	</li>
	<li>
		<strong class="title"><a name="10-principles">10 Principles that will guarantee your success in relationship managemen</a></strong>
		<p class="description">Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet.</p>
		<a href="http://marketware.com.s3.amazonaws.com/Whitepapers/10-principles.pdf" class="btn-yellow float-right"><span>Download</span></a>
	</li>
	<li>
		<strong class="title"><a name="the-right-questions">How to ask the right questions in an effective physician meeting</a></strong>
		<p class="description">Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper.</p>
		<a href="http://marketware.com.s3.amazonaws.com/Whitepapers/the-right-questions.pdf" class="btn-yellow float-right"><span>Download</span></a>
	</li>
	<li>
		<strong class="title"><a name="prm">What is PRM? (Physician Relationship Management)</a></strong>
		<p class="description">Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo.</p>
		<a href="http://marketware.com.s3.amazonaws.com/Whitepapers/prm.pdf" class="btn-yellow float-right"><span>Download</span></a>
	</li>
	<li>
		<strong class="title"><a name="roi">What is the ROI for PRM?</a></strong>
		<p class="description">In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo.</p>
		<a href="http://marketware.com.s3.amazonaws.com/Whitepapers/roi.pdf" class="btn-yellow float-right"><span>Download</span></a>
	</li>
	<li>
		<strong class="title"><a name="other-crm">How other CRM software can cost you significantly more in the long run</a></strong>
		<p class="description">Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
		<a href="http://marketware.com.s3.amazonaws.com/Whitepapers/other-crm.pdf" class="btn-yellow float-right"><span>Download</span></a>
	</li>
	<li>
		<strong class="title"><a name="good-crm">How a good PRM System can affect your whole organization</a></strong>
		<p class="description">Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo.</p>
		<a href="http://marketware.com.s3.amazonaws.com/Whitepapers/good-crm.pdf" class="btn-yellow float-right"><span>Download</span></a>
	</li>
</ul>
</div>