<div class="grid_8 alpha omega prefix_2 suffix_2">
<h2>White Papers</h2>

<ul class="mktwr_list">
	<li>
		<strong class="title"><a name="achilles_heel">Physician Relations: The Achilles Heel of Hospital CEOs</a></strong>
		<p class="description">Without good Physician Relations Hospital CEOs can come under serious pressure and even lose their jobs. Learn the CEO’s worst case scenario and what to do about it.</p>
		<a href="http://marketware.com.s3.amazonaws.com/whitepapers/achilles_heel.pdf" class="btn-yellow float-right"><span>Download</span></a>
	</li>
	<li>
		<strong class="title"><a name="investing">Are the Dollars I'm investing in Physician Relations really paying off?</a></strong>
		<p class="description">
			Now is the time to invest in an effective Physician Relations. You cannot afford to miss opportunities with your physicians. Every referral from a physician counts.
		</p>
		<a href="http://marketware.com.s3.amazonaws.com/whitepapers/investing.pdf" class="btn-yellow float-right"><span>Download</span></a>
	</li>
	<li>
		<strong class="title"><a name="10-principles">10 Principles that will guarantee your success in relationship managemen</a></strong>
		<p class="description">Learn what you can do today to guarantee your success in relationship management. Turn unproductive and stagnant relationships into quality effective physician relationships.</p>
		<a href="http://marketware.com.s3.amazonaws.com/whitepapers/10-principles.pdf" class="btn-yellow float-right"><span>Download</span></a>
	</li>
	<li>
		<strong class="title"><a name="the-right-questions">How to ask the right questions in an effective physician meeting</a></strong>
		<p class="description">Learn how to strategically ask the right questions to get your physicians to move the relationship forward and increase physician referrals.  Understand which questions you should ask and at which time you should ask them.</p>
		<a href="http://marketware.com.s3.amazonaws.com/whitepapers/the-right-questions.pdf" class="btn-yellow float-right"><span>Download</span></a>
	</li>
</ul>
</div>